@import "./partials/_variables";
@import "./partials/_font";
@import "./partials/_mixin";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $White;
    font-family: $font-famitl;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 4.167vw;
    padding: 0 7.813vw;
    background-color: $Bandsite-Black;
    display: flex;
    align-items: center;

    .nav_logo {
        width: 10.417vw;
        font-weight: 100;
        font-size: 1.771vw;
        font-family: 'normal';

    }

    .nav_list {
        display: flex;
        height: 4.167vw;

        li {
            margin: 0 0.521vw;
            line-height: 4.167vw;
            width: 5.208vw;
            text-align: center;

            &:hover {
                border-bottom: 0.156vw solid $White;
            }
        }

    }


}

main {
    width: 100%;
    height: 100%;

    .banner {
        width: 100%;
        height: 36.458vw;
        position: relative;
        background-image: url('../Assets/Images/hero-bio.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;

        h1 {
            font-size: 4.167vw;
            margin-left: 5.208vw;
            z-index: 111;
            font-weight: 300;
        }

        .shadow {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .bio {
        width: 100%;
        padding: 2.604vw;

        h2 {
            color: black;
            font-size: 2.604vw;
            margin-left: 5.208vw;
        }

        .bio_image_box {
            width: 100%;

            padding: 0 10.417vw;
            color: black;

            .bio_image {
                width: 100%;
                height: 28.646vw;
                display: block;
                margin: 2.604vw auto;
            }

            p {
                color: black;
                font-size: 1.563vw;
                font-weight: 700;
            }

            cite {
                display: block;
                color: black;
                font-size: 1.042vw;
                margin: 1.563vw 0;
            }

            h4 {
                color: black;
                font-size: 1.563vw;
                margin-top: 4.167vw;
            }

            .bio_text-container {
                width: 100%;
                padding: 2.604vw 0;
                display: flex;
                margin-top: 1.563vw;
                justify-content: space-between;

                .bio_text {
                    width: 49%;
                    height: 100%;
                    font-size: 1.281vw;
                    font-weight: 300;
                    line-height: 2;
                }
            }
        }

    }

    .gallery {
        width: 100%;
        padding: 2.604vw;
        background-color: $Alabaster;

        h2 {
            color: black;
            font-size: 2.604vw;
            margin-left: 5.208vw;
        }

        .gallery_grid {
            padding: 0 5.208vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 2.604vw;

            img {
                width: 31%;
                margin: 0.677vw;
            }
        }
    }

    .section {
        width: 100%;
        padding: 2.604vw;

        h2 {
            color: black;
            font-size: 2.604vw;
            margin-left: 5.208vw;
        }

        .commentForm_box {
            width: 45%;

            margin: 2.604vw auto;
            padding: 1.042vw;
            display: flex;

            .commentForm_box_logo {
                width: 10%;
                display: flex;
                justify-content: center;

                img {
                    width: 4.167vw;
                    height: 4.167vw;
                    border-radius: 50%;
                }
            }

            .commentForm_box_form {
                width: 90%;
                padding: 0 2.604vw;

                label {
                    display: block;
                    color: $Silver;
                }

                input {
                    width: 100%;
                    height: 2.083vw;
                    border-radius: 0.26vw;
                    border: 0.052vw solid $Silver;
                    margin-bottom: 2.604vw;
                    padding-left: 0.521vw;
                    color: black;

                }

                textarea {
                    width: 100%;
                    height: 5.208vw;
                    border-radius: 0.26vw;
                    border: 0.052vw solid $Silver;
                    margin-bottom: 2.604vw;
                    resize: none;
                    padding: 0.521vw;
                    color: black;
                }

                .comments_button_box {
                    width: 100%;
                    display: flex;
                    justify-content: end;

                    .comments_button {
                        background-color: $Bandsite-Black;
                        color: $White;
                        padding: 0.521vw 1.042vw;
                        cursor: pointer;
                        border: none;
                        border-radius: 0.156vw;

                    }
                }

            }
        }

        .commentsList {
            width: 45%;

            margin: 2.604vw auto;
            border-top: 0.052vw solid $Silver;

            li {
                padding: 2.604vw 1.042vw;
                width: 100%;
                border-bottom: 0.052vw solid $Silver;
                position: relative;
                display: flex;

                .delete_icon {
                    position: absolute;
                    right: 0.521vw;
                    top: 0.521vw;
                    cursor: pointer;
                }

                .like_box {
                    position: absolute;
                    bottom: 0.521vw;
                    left: 5.729vw;
                    display: flex;
                    align-items: center;
                    height: 1.042vw;
                   width: 100px;
                    .like_icon {

                        cursor: pointer;
                    }

                    .like_number {
                        color: black;
                        margin-top: 0.365vw;
                        margin-left: 0.26vw;

                    }
                }


                .comment_avatar {
                    width: 10%;
                    display: flex;
                    justify-content: center;

                    .round {
                        width: 3.125vw;
                        height: 3.125vw;
                        border-radius: 50%;
                        background-color: $Silver;
                    }
                }

                .comment_content {
                    width: 90%;
                    padding: 0 1.042vw;

                    .comment_content_title {
                        width: 100%;
                        color: black;
                        display: flex;
                        justify-content: space-between;

                        h5 {
                            color: black;
                            font-size: 0.938vw;
                        }

                        span {
                            color: $Silver;
                        }
                    }

                    .comment_content_text {
                        color: black;
                        line-height: 2;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    // height: 26.042vw;
    background-color: $Bandsite-Black;
    padding: 2.604vw 7.813vw;

    .footer_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer_title_box {
            display: flex;
            align-items: center;

            h1 {
                font-size: 2.604vw;
                margin-right: 5.208vw;
            }

            .footer_icon {
                margin: 0 0.781vw;
                width: 1.563vw;
                height: 1.563vw;
            }
        }

        .footer_logo {
            font-size: 1.354vw;
        }
    }

    .footer_conter {
        width: 100%;
        padding: 2.604vw 0;
        display: flex;

        ul {
            width: 25%;

            li {
                margin: 2.604vw 0;
                font-size: 1.042vw;
            }
        }
    }

    .footer_logo_mobile {
        display: none
    }

}

@include tablet;
@include Mobile;