@import "./partials/_variables";
@import "./partials/_font";
@import "./partials/_mixin";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $White;
    font-family: $font-famitl;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 4.167vw;
    padding: 0 7.813vw;
    background-color: $Bandsite-Black;
    display: flex;
    align-items: center;

    .nav_logo {
        width: 10.417vw;
        font-weight: 100;
        font-size: 1.771vw;
        font-family: 'normal';

    }

    .nav_list {
        display: flex;
        height: 4.167vw;

        li {
            margin: 0 0.521vw;
            line-height: 4.167vw;
            width: 5.208vw;
            text-align: center;
            &:hover {
                border-bottom: 0.156vw solid $White;
            }
        }

    }


}

main{
    .banner_shows {
        width: 100%;
        height: 36.458vw;
        position: relative;
        background-image: url('../Assets/Images/hero-shows.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
       align-items: center;
       .banner_shows_text{
          margin-left: 5.208vw;
        z-index: 1111;
        width: 50%;
         h1 {
            font-size: 4.167vw;
          
            font-weight: 300;
        }
          p{
            font-size: 1.563vw;
            color: $White;
          
          
             margin-bottom: 2.604vw;
          }
       }
      
        .shows_iframe{
      width: 600px;
      height: 300px;
      z-index: 111;
       }
        .shadow {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .shows{
        width: 100%;
        padding: 2.604vw 10.417vw;
        display: flex;
        h1{
            color: black;
            font-size: 3.083vw;
            width: 15.625vw;
            text-align: center;
        }
        .shows_conter{
            width: 100%;
            display: block;

            .shows_conter_title{
                width: 100%;
                height: 1.563vw;
                display: flex;
                align-items: center;
               padding: 0 2.604vw;
                span{
                    width: 25%;
                    height: 100%;
                    line-height: 1.563vw;
                 
                    color: $Silver;
                }
            }
             .shows_conter_list{
            width: 100%;
           .Active{
            background-color: $Silver !important;
            color: black;
           }
            li{
                width: 100%;
                padding: 2.604vw ;
                display: flex;
                align-items: center;
                border-bottom: 0.052vw solid $Silver;
                transition: 1.5s all;
                &:hover{
                    transform: scale(1.1);
                    background-color: $Silver;
                    border-radius: 10px;
                }
                h3{
                    width: 25%;
                    color: black;
                }
                p{
                    width: 25%;
                    color: black;
                }
                .button_buy{
                    width: 25%;
                    button{
                      width: 7.813vw;
                      height: 2.083vw;
                      background-color: $Bandsite-Black;
                      border: none;
                      border-radius: 0.104vw;
                      line-height: 2.083vw;
                      cursor: pointer;
                      margin: 0 auto;
                      display: block;
                    }
                }
            }
        }
        }
       .shows_mobile{
          width: 100%;
          display: none;
          .shows_mobile_list{
            width: 100%;
            li{
                border-bottom: 0.052vw solid $Silver;
                width: 100%;
                padding: 1.563vw;
                span{
                    display: block;
                    width: 100%;
                    color: $Silver;
                    margin-top: 3.042vw;
                    font-size: 3.042vw;
                }
                p{
                    width: 100%;
                    color: black;
                     font-size: 4.406vw;
                }
                h3{
                    width: 100%;
                    color: black;
                    font-size: 4.406vw;
                }
                   .button_buy{
                   width: 100%;
                   margin-top: 2.604vw;
                    button{
                      width: 100%;
                      height: 6.604vw;
                      background-color: $Bandsite-Black;
                      border: none;
                      font-size: 3.042vw;
                      border-radius: 0.66vw;
                      line-height: 2.604vw;
                      cursor: pointer;
                      margin: 0 auto;
                      display: block;
                    }
                }
            }
          }
       }
    }
}

footer {
    width: 100%;
    // height: 26.042vw;
    background-color: $Bandsite-Black;
    padding: 2.604vw 7.813vw;

    .footer_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .footer_title_box{
            display: flex;
            align-items: center;
             h1 {
            font-size: 2.604vw;
            margin-right: 5.208vw;
        }
        .footer_icon{
            margin: 0 0.781vw;
            width: 1.563vw;
            height: 1.563vw;
        }
        }
        .footer_logo{
            font-size: 1.354vw;
        }
    }
    .footer_conter{
        width: 100%;
        padding: 2.604vw 0;
        display: flex;
        ul{
            width: 25%;
            
            li{
                margin: 2.604vw 0;
                font-size: 1.042vw;
            }
        }
    }
    .footer_logo_mobile{
        display: none
    }
  
}
@include tablet;
@include Mobile;
