@font-face {
  font-family: "AvenirNext";
  src: url(../../Assets/Font/AvenirNextLTPro-Regular.otf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "AvenirNext";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 4.167vw;
  padding: 0 7.813vw;
  background-color: #323232;
  display: flex;
  align-items: center;
}

.header .nav_logo {
  width: 10.417vw;
  font-weight: 100;
  font-size: 1.771vw;
  font-family: 'normal';
}

.header .nav_list {
  display: flex;
  height: 4.167vw;
}

.header .nav_list li {
  margin: 0 0.521vw;
  line-height: 4.167vw;
  width: 5.208vw;
  text-align: center;
}

.header .nav_list li:hover {
  border-bottom: 0.156vw solid #ffffff;
}

main .banner_shows {
  width: 100%;
  height: 36.458vw;
  position: relative;
  background-image: url("../Assets/Images/hero-shows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .banner_shows .banner_shows_text {
  margin-left: 5.208vw;
  z-index: 1111;
  width: 50%;
}

main .banner_shows .banner_shows_text h1 {
  font-size: 4.167vw;
  font-weight: 300;
}

main .banner_shows .banner_shows_text p {
  font-size: 1.563vw;
  color: #ffffff;
  margin-bottom: 2.604vw;
}

main .banner_shows .shows_iframe {
  width: 600px;
  height: 300px;
  z-index: 111;
}

main .banner_shows .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

main .shows {
  width: 100%;
  padding: 2.604vw 10.417vw;
  display: flex;
}

main .shows h1 {
  color: black;
  font-size: 3.083vw;
  width: 15.625vw;
  text-align: center;
}

main .shows .shows_conter {
  width: 100%;
  display: block;
}

main .shows .shows_conter .shows_conter_title {
  width: 100%;
  height: 1.563vw;
  display: flex;
  align-items: center;
  padding: 0 2.604vw;
}

main .shows .shows_conter .shows_conter_title span {
  width: 25%;
  height: 100%;
  line-height: 1.563vw;
  color: #afafaf;
}

main .shows .shows_conter .shows_conter_list {
  width: 100%;
}

main .shows .shows_conter .shows_conter_list .Active {
  background-color: #afafaf !important;
  color: black;
}

main .shows .shows_conter .shows_conter_list li {
  width: 100%;
  padding: 2.604vw;
  display: flex;
  align-items: center;
  border-bottom: 0.052vw solid #afafaf;
  transition: 1.5s all;
}

main .shows .shows_conter .shows_conter_list li:hover {
  transform: scale(1.1);
  background-color: #afafaf;
  border-radius: 10px;
}

main .shows .shows_conter .shows_conter_list li h3 {
  width: 25%;
  color: black;
}

main .shows .shows_conter .shows_conter_list li p {
  width: 25%;
  color: black;
}

main .shows .shows_conter .shows_conter_list li .button_buy {
  width: 25%;
}

main .shows .shows_conter .shows_conter_list li .button_buy button {
  width: 7.813vw;
  height: 2.083vw;
  background-color: #323232;
  border: none;
  border-radius: 0.104vw;
  line-height: 2.083vw;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

main .shows .shows_mobile {
  width: 100%;
  display: none;
}

main .shows .shows_mobile .shows_mobile_list {
  width: 100%;
}

main .shows .shows_mobile .shows_mobile_list li {
  border-bottom: 0.052vw solid #afafaf;
  width: 100%;
  padding: 1.563vw;
}

main .shows .shows_mobile .shows_mobile_list li span {
  display: block;
  width: 100%;
  color: #afafaf;
  margin-top: 3.042vw;
  font-size: 3.042vw;
}

main .shows .shows_mobile .shows_mobile_list li p {
  width: 100%;
  color: black;
  font-size: 4.406vw;
}

main .shows .shows_mobile .shows_mobile_list li h3 {
  width: 100%;
  color: black;
  font-size: 4.406vw;
}

main .shows .shows_mobile .shows_mobile_list li .button_buy {
  width: 100%;
  margin-top: 2.604vw;
}

main .shows .shows_mobile .shows_mobile_list li .button_buy button {
  width: 100%;
  height: 6.604vw;
  background-color: #323232;
  border: none;
  font-size: 3.042vw;
  border-radius: 0.66vw;
  line-height: 2.604vw;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

footer {
  width: 100%;
  background-color: #323232;
  padding: 2.604vw 7.813vw;
}

footer .footer_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer_title .footer_title_box {
  display: flex;
  align-items: center;
}

footer .footer_title .footer_title_box h1 {
  font-size: 2.604vw;
  margin-right: 5.208vw;
}

footer .footer_title .footer_title_box .footer_icon {
  margin: 0 0.781vw;
  width: 1.563vw;
  height: 1.563vw;
}

footer .footer_title .footer_logo {
  font-size: 1.354vw;
}

footer .footer_conter {
  width: 100%;
  padding: 2.604vw 0;
  display: flex;
}

footer .footer_conter ul {
  width: 25%;
}

footer .footer_conter ul li {
  margin: 2.604vw 0;
  font-size: 1.042vw;
}

footer .footer_logo_mobile {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header {
    height: 6.167vw;
  }
  .header .nav_logo {
    width: 14.417vw;
    font-size: 2.771vw;
  }
  .header .nav_list li {
    width: 9.208vw;
    font-size: 1.5vw;
  }
  main .banner_shows {
    height: 61.25vw;
    flex-wrap: wrap;
  }
  main .banner_shows .banner_shows_text {
    width: 100%;
  }
  main .banner_shows .banner_shows_text p {
    font-size: 3.563vw;
  }
  main .banner_shows .banner_shows_text h1 {
    font-size: 6.604vw;
  }
  main .banner_shows .shows_iframe {
    margin-top: 2.604vw;
    width: 80%;
    height: 20.833vw;
  }
  main .bio h2 {
    font-size: 3.6vw;
  }
  main .bio .bio_image_box {
    padding: 0 50px;
  }
  main .bio .bio_image_box p {
    font-size: 2.5vw;
  }
  main .bio .bio_image_box cite {
    font-size: 2vw;
  }
  main .bio .bio_image_box h4 {
    font-size: 2.563vw;
  }
  main .bio .bio_image_box .bio_image {
    height: 450px;
  }
  main .bio .bio_image_box .bio_text-container .bio_text {
    font-size: 1.7vw;
  }
  main .gallery h2 {
    font-size: 3.6vw;
  }
  main .gallery .gallery_grid {
    padding: 0px;
  }
  main .gallery .gallery_grid img {
    width: 32%;
    margin: 0.26vw;
  }
  main .section h2 {
    font-size: 3.6vw;
    margin: 0;
  }
  main .section .commentForm_box {
    width: 90%;
  }
  main .section .commentForm_box .commentForm_box_form input {
    height: 4vw;
  }
  main .section .commentForm_box .commentForm_box_form textarea {
    height: 8vw;
  }
  main .section .commentForm_box .commentForm_box_form .comments_button_box .comments_button {
    padding: 1.042vw 2.083vw;
  }
  main .section .commentsList {
    width: 90%;
  }
  main .section .commentsList li {
    padding: 80px 0;
  }
  main .section .commentsList li .like_box {
    bottom: 2.563vw;
  }
  main .section .commentsList li .like_box .like_number {
    margin-top: 0.52vw;
  }
  main .section .commentsList li .delete_icon {
    top: 1.563vw;
  }
  main .section .commentsList li .comment_avatar .round {
    width: 8.333vw;
    height: 8.333vw;
  }
  main .section .commentsList li .comment_content .comment_content_title h5 {
    font-size: 2vw;
  }
  main .shows {
    padding: 20px 0;
    flex-wrap: wrap;
  }
  main .shows h1 {
    width: 100%;
    margin-bottom: 50px;
  }
  main .shows .shows_conter {
    display: block;
  }
  main .shows .shows_mobile {
    display: none;
  }
  footer {
    padding: 2.604vw;
  }
  footer .footer_title .footer_title_box h1 {
    font-size: 4.604vw;
  }
  footer .footer_title .footer_title_box .footer_icon {
    margin: 0 0.781vw;
    width: 2.563vw;
    height: 2.563vw;
  }
  footer .footer_title .footer_logo {
    font-size: 3.354vw;
  }
  footer .footer_conter {
    width: 100%;
    padding: 2.604vw 0;
    display: flex;
  }
  footer .footer_conter ul {
    width: 33%;
  }
  footer .footer_conter ul li {
    margin: 2.604vw 0;
    font-size: 2.042vw;
  }
}

@media screen and (max-width: 784px) {
  .header {
    height: 17.167vw;
    flex-wrap: wrap;
  }
  .header .nav_logo {
    width: 100%;
    font-size: 5.771vw;
    text-align: center;
  }
  .header .nav_list {
    width: 100%;
    justify-content: space-evenly;
  }
  .header .nav_list li {
    width: 50%;
    font-size: 3.5vw;
  }
  main .banner_shows {
    height: 61.25vw;
    flex-wrap: wrap;
  }
  main .banner_shows .banner_shows_text {
    width: 100%;
  }
  main .banner_shows .banner_shows_text p {
    font-size: 3.563vw;
  }
  main .banner_shows .banner_shows_text h1 {
    font-size: 6.604vw;
  }
  main .banner_shows .shows_iframe {
    margin-top: 2.604vw;
    width: 80%;
    height: 20.833vw;
  }
  main .bio h2 {
    font-size: 5.6vw;
  }
  main .bio .bio_image_box {
    padding: 0 50px;
  }
  main .bio .bio_image_box p {
    font-size: 2.7vw;
  }
  main .bio .bio_image_box cite {
    font-size: 2.2vw;
  }
  main .bio .bio_image_box h4 {
    font-size: 2.563vw;
  }
  main .bio .bio_image_box .bio_image {
    height: 42.438vw;
  }
  main .bio .bio_image_box .bio_text-container {
    flex-wrap: wrap;
  }
  main .bio .bio_image_box .bio_text-container .bio_text {
    width: 100%;
    font-size: 2vw;
    margin: 30px 0;
  }
  main .gallery h2 {
    font-size: 4.6vw;
  }
  main .gallery .gallery_grid {
    padding: 0px;
  }
  main .gallery .gallery_grid img {
    width: 100%;
    margin: 1.66vw 0;
  }
  main .section h2 {
    font-size: 4.6vw;
    margin: 0;
  }
  main .section .commentForm_box {
    width: 100%;
  }
  main .section .commentForm_box .commentForm_box_logo img {
    width: 9.167vw;
    height: 9.167vw;
  }
  main .section .commentForm_box .commentForm_box_form input {
    height: 7vw;
  }
  main .section .commentForm_box .commentForm_box_form textarea {
    height: 15vw;
  }
  main .section .commentForm_box .commentForm_box_form .comments_button_box .comments_button {
    width: 100%;
    height: 4.604vw;
    text-align: center;
    padding: 1.042vw 2.083vw;
  }
  main .section .commentsList {
    width: 90%;
  }
  main .section .commentsList li {
    padding: 80px 0;
  }
  main .section .commentsList li .like_icon {
    bottom: 1.563vw;
  }
  main .section .commentsList li .delete_icon {
    top: 1.563vw;
  }
  main .section .commentsList li .comment_avatar .round {
    width: 8.333vw;
    height: 8.333vw;
  }
  main .section .commentsList li .comment_content .comment_content_title h5 {
    font-size: 2vw;
  }
  main .shows {
    padding: 20px 0px;
    flex-wrap: wrap;
  }
  main .shows h1 {
    width: 100%;
  }
  main .shows .shows_conter {
    display: none;
  }
  main .shows .shows_mobile {
    display: block;
  }
  main .shows .shows_mobile .shows_mobile_list li {
    padding: 30px;
  }
  footer {
    padding: 2.604vw;
  }
  footer .footer_title .footer_title_box {
    flex-wrap: wrap;
  }
  footer .footer_title .footer_title_box h1 {
    font-size: 7.604vw;
    width: 100%;
  }
  footer .footer_title .footer_title_box .footer_icon {
    margin: 2vw 1.781vw;
    width: 4.563vw;
    height: 4.563vw;
  }
  footer .footer_title .footer_logo {
    display: none;
  }
  footer .footer_conter {
    width: 100%;
    padding: 2.604vw 0;
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer_conter ul {
    width: 100%;
  }
  footer .footer_conter ul li {
    margin: 2.604vw 0;
    font-size: 3.042vw;
  }
  footer .footer_logo_mobile {
    display: block;
    font-size: 6.083vw;
    margin-bottom: 5.208vw;
  }
}
